body {
	margin: 0px;
}
body,td,th {
	font-family: ו;
	font-size: 12px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
.a:link {
	color: #000000;
	text-decoration: none;
}
.a:visited {
	text-decoration: none;
	color: #000000;
}
.a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
.a:active {
	text-decoration: none;
	color: #FFFFFF;
}